type;module;function;path;comment
BLOCK_REX;;;".+T-f32";"Block all float paths"
ALLOW;llvm/lib/Transforms/Scalar/LoopUnrollPass.cpp;;;"Allow LoopUnrollPass"
ALLOW;llvm/lib/Transforms/IPO/Inliner.cpp;;;"Allow Inliner"